<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>

<h3>My Custom Login Page</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <!-- name must be "username" and "password"; otherwise error in name="username2" or name="password2" -->
    <p>
        User name: <input type="text" name="username" />
    </p>

    <p>
        Password: <input type="password" name="password2" />
    </p>

    <input type="submit" value="Login" />
    
</form>

</body>
</html>









